

<p>
	<strong><h1>Title:</h1></strong>
	<%= @post.title %>
</p>

<p>
	<strong><h2>Text:</h2></strong>
	<%= @post.text %>
</p>

<h4>Comments</h4>
<%= render @post.comments %>

<h4>Add your comments here.</h4>
<%= render 'comments/form' %>

<%= link_to 'Back to the Car Parts page', posts_path %>
<%= link_to 'Edit', edit_post_path(@post) %>
